

# Ignorar
_BACKUPs/
BANCO_DB.txt
.gitignore
GUIAS.txt
chave_aplicacao.local.php
chave_aplicacao.exemplo.php
config.local.php
isd-image-simple-destruction.zip
.env
.copilotignore
.htaccess
*.pem
credentials.json
.DS_Store
Thumbs.db
desktop.ini
dist/
build/
*.exe
*.pyc
*.log
npm-debug.log*
/generated/prisma
